{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Create Player</h1>
    </div>

    <form action="{% url 'player-create' %}" method="post" class="form-container" autocomplete="off">
        {% csrf_token %}
        <img src="{% static 'images/coach-log.png' %}" alt="This coach logo again. Swear I will change it." />

        {% if form_errors %}
        <div class="error">
            <ul>
                {% for error in form_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    <table>
        <tr>
            <td>Player First Name:</td>
            <td>
                <input 
                    type="text" 
                    name="first_name" 
                    id="first_name" 
                    placeholder="Enter Player's First Name" 
                    value="{{ player.first_name }}" 
                >
            </td>
        </tr>
        <tr>
            <td>Player Last Name:</td>
            <td>
                <input 
                    type="text" 
                    name="last_name" 
                    id="last_name" 
                    placeholder="Enter Player's Last Name" 
                    value="{{ player.last_name }}"
                >
            </td>
        </tr>
        <tr>
            <td>Select Team:</td>
            <td>
                <select name="team" id="team">
                    {% for team in teams %}
                    <option value="{{ team.id }}" {% if player.team.id == team.id %}selected{% endif %}>
                        {{ team.name }}
                    </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Position:</td>
            <td>
                <input 
                    type="text"
                    name="position"
                    id="position"
                    placeholder="Enter Player's Position"
                    value="{{ player.position }}"
                >
            </td>
        </tr>
        <tr>
            <td>Jersey Number:</td>
            <td>
                <input 
                    type="text"
                    name="number"
                    id="number"
                    placeholder="Enter Player's Number"
                    value="{{ player.number }}"
                >
            </td>
        </tr>
    </table>

    <button type="submit" class="btn submit">Create Player</button>
    </form>
    {% endblock %}