{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/coach-logo.png' %}">

    <title>Team Manager</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <div class="header-logo-container">
          <a href="{% url 'home' %}">Team Manager</a>
        </div>
        <nav>
          <ul>
            <li><a href="{% url 'team-index' %}">Teams</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'team-create' %}">Create Team</a></li>
              <li><a href="{% url 'schedule-create' %}">Schedule</a></li>
              <li><a href="{% url 'player-create' %}">Draft Player</a></li>
            {% endif %}
            <li><a href="{% url 'schedule-list' %}">Games</a></li>
            <li><a href="{% url 'player-list' %}">Players</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
      
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>
