header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(--nav-bg-ff); /* Background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for modern look */
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-logo-container {
  font-size: var(--font-xxl); /* Bigger font for the site name */
  font-weight: bold;
  color: var(--text-color); /* Adjust text color to match your theme */
}

.header-logo-container a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px; /* Space between nav links */
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-l); /* Adjusted font size */
  transition: color 0.3s;
}

nav a:hover {
  color: var(--link-hover-color); /* Hover effect for links */
}
